.fluid-container.brand-inverted.mb-5
  .container
    .row.text-center
      .col-12.mt-5.mb-3
        %h1.primary-color
          Digital Red Card
      .col-12.col-md-6.offset-md-3.mb-5
        %p
          All people in the United States, regardless of immigration status, have certain rights and protections under the U.S. Constitution. The ILRC’s Red Cards help people assert their rights and defend themselves in many situations, such as when ICE agents go to a home. 
        %p.pb-0.mb-0
.container
  .row
    .col-12
      %p
        Hello! My name is Lewaa Bahmad. I built the Digital Red Card mobile application and this website. As of yet, no one else has contributed to it but I would love it if this could be a collaborative, open source project. Should you want to contributem, there are plenty of opportunities. These include:
      %ul
        %li Software Development
        %li Design Work
        %li Transalations
        %li Voice Recordings
      %p
        I've touched on the roadmap for the app but here is what I plan to work on in the short term:
      %ul
        %li Internationalization, or translation of content into multiple languages.
        %li The capacity to play aloud the Red Card's content in multiple languages. 
        %li More sharing functionality. 
        %li The ability to request physical Red Cards. 
        %li The ability to point out and share ICE activity :)
        %li More educational content.
      %a{ href: 'https://lewaabahmad.com/contact/' }
        %p If you want to contribute in any way at all, please use this contact form.
  -# .row
  -#   .col-12
  -#     %p
  -#       This App has been submitted to both the Apple and Google App Stores. Once it is availible, these badges will point to the appropriate locations.
  -# .row
  -#   .col-12.pb-3
  -#     %a{ href: '/' }
  -#       %img{ src: image_url('apple-store-badge.png') }
  -#     %a{ href: '/' }
  -#       %img{ width: 150, src: image_url('google-play-badge.png') }