.container.py-5
  .row
    .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
      %a.btn.btn-primary.btn-sm.my-5{ href: '/' }
        < back
      
      %p.mb-1.font-weight-bold 
        How can I learn more?
      %p
        %a{ href: '/resources' }
          Checkout our resources page.

      %p.mb-1.font-weight-bold 
        What is the ILRC, or the Immigration Legal Resource Center?
      %p
        %a{ href: 'https://www.ilrc.org' }
          Read about them on their website here.

      %p.mb-1.font-weight-bold 
        Is this a mobile app? 
      %p
        This web app is a Progressive Web Application. This means that it can be added to your mobile phone and used as if it were a mobile application.

      %p.mb-1.font-weight-bold 
        Are there any future plans for this project?
      %p.mb-1
        Yes. I would love to grow this with more functionality. 
      %ul
        %li Internationalization, or translation of content into multiple languages.
        %li The capacity to play aloud the Red Card's content in multiple languages. 
        %li More sharing functionality. 
        %li The ability to request physical Red Cards. 
        %li The ability to point out and share ICE activity :)
        %li More educational content.

      %p.mb-1.font-weight-bold 
        How was this built, technically?
      %p
        This is a Rails app using Bootstrap and vanilla Javascript. It's hosted on Heroku. It has a backend in preparation for more advanced functionality. For example, while not currently in use for lack of funding, Twilio is set up for use for text messaging. If you have any questions, contact us.

      %p.mb-1.font-weight-bold 
        Who built this?
      %p
        %a{ href: 'https://lewaabahmad.com' }
          My name is Lewaa Bahmad.
