$primary: #C02C31;
$theme-colors: (
  "primary": $primary,
);

@import 'bootstrap';

.primary-color {
  color: $primary;
}

.white {
  color: #fff;
}

.brand-inverted {
  color: white;
  h1 {
    color: white;
    font-weight: bold;
  }
  background: $primary
}

nav {
  a {
    color: $primary;
    font-weight: bold;

    &:hover {
      color: $primary;
      font-weight: bold;
      text-decoration: underline !important;
    }
  }
}

// mobile
@include media-breakpoint-down(md) {
  h1 {
    font-size: 22px;
  }
}

.copyable-content-container {
  background: #FFF;
  border: 1px solid #ddd;

  .copy-link {
    position: relative !important;
    bottom: -40;
    right: 0;
  }
}