#header.brand-font
  .container-fluid.p-1
    %nav.navbar.navbar-light.navbar-expand-lg
      .container
        .nav-link
          %a{"aria-controls" => "resources-menu", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#resources-menu", :role => "button"}
            About
  .container
    .row
      .col-12
        #resources-menu.collapse
          .jumbotron.p-5
            %p.p-0.m-0
              All people in the United States, regardless of immigration status, have certain rights and protections under the U.S. Constitution. The ILRC’s Red Cards help people assert their rights and defend themselves in many situations, such as when ICE agents go to a home.
